
/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .portsec {
    max-width: 1414px;
    margin: auto;
  }
  .homebtnsec {
    text-align: center;
    margin-top: 96px;
}
.seccheckbg {
  background-size: inherit;
  padding: 0px 0px 222px 0px;
}

.seccheckbg2 {
  background-size: inherit;
  padding: 334px 0px 235px 0px  ;
  height: auto;
}
.seccheckbg3 {
  background-size: inherit;
  padding: 331px 0px 208px 0px;
   height: auto;
}
.sectestimonbg{
  background-size: inherit;
  padding: 250px 0px 358px 0px;
  height: auto;
}

}







@media only screen and (max-width:767px) {
  
  .offcanvas-header {
    background: #000;
}
button.navbar-toggler {
  background: #000;
  height: 55px;
}
div#navbarOffcanvas {
  padding-top: 0px;
}
  .herobacksec {
    padding: 177px 20px 0px 20px;
  } 
  .allheadertext h1 {
    font-size: 24px;
  }
  .secherotext h1 {
    font-size: 28px;
  }
  .headermenusec {
    color: #000;
    margin-left: 0px;
    padding-bottom: 20px;
}
.headmenu2 {
  background:transparent;
  border: 0px;
  color: #000;
  padding: 0;
  margin-top: -18px;
  text-transform: capitalize;
}
.secherotext p {
  font-size: 16px;
  width: 100%;
}
.seccountermar {
  margin-top: 50px;
}
.counter-box {
  text-align: center;
}
.secallpaddin {
  padding-top: 50px;
  padding-bottom: 50px;
}
.textviewbtn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.twoslider .owl-nav {
  margin-top: -510px;
  margin-bottom: 470px;
}
.secpriseflaex {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.allheadertext22 h1 {
  font-size: 28px;
}
.sidersec2 {
  margin-left: 12px;
}
.secpadboot {
  padding-bottom: 50px;
}

}
